### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [20]:
#Total number of schools
school_total = school_data_df["School ID"].count()
school_total

15

In [22]:
school_data_df.describe()

       School ID         size        budget
count  15.000000    15.000000  1.500000e+01
mean    7.000000  2611.333333  1.643295e+06
std     4.472136  1420.915282  9.347763e+05
min     0.000000   427.000000  2.480870e+05
25%     3.500000  1698.000000  1.046265e+06
50%     7.000000  2283.000000  1.319574e+06
75%    10.500000  3474.000000  2.228999e+06
max    14.000000  4976.000000  3.124928e+06

In [23]:
#Total number of students
student_total = student_data_df["Student ID"].count()
student_total

39170

In [24]:
#Total Budget
Total_Budget = school_data_df["budget"].sum()
Total_Budget

24649428

In [ ]:
student_data_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [25]:
#Average maths score
Average_maths_score = student_data_df["maths_score"].mean()
Average_maths_score

70.33819249425581

In [26]:
#Average reading score
Average_reading_score = student_data_df["reading_score"].mean()
Average_reading_score

69.98013786060761

In [ ]:
bins = [0, 50, 100]
group_name = ["fail", "pass"]

In [27]:
df= pd.DataFrame(student_data_df)
df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48
39166,39166,Dawn Bell,F,10,Thomas High School,81,89
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62

In [28]:
maths_summary = student_data_df.loc[student_data_df["maths_score"] >= 50]
per_maths_summary = len(maths_summary) / student_total * 100
per_maths_summary

86.07863160582077

In [29]:
reading_summary = student_data_df.loc[student_data_df["reading_score"] >= 50]
per_reading_summary = len(reading_summary) / student_total * 100
per_reading_summary

84.42685728874139

In [39]:
Overall_pass = student_data_df.loc[(student_data_df["maths_score"] >= 50) & (student_data_df["reading_score"] >= 50)]["Student ID"].count()
Overall_pass_summary = Overall_pass/student_total *100
Overall_pass_summary

72.80827163645647

In [41]:
#Dataframe Summary
Summary = pd.DataFrame([{
    "Total Schools": school_total, 
    "Total Student": student_total, 
    "Total Budget":  Total_Budget, 
    "Averare Maths Score": Average_maths_score, 
    "Average Reading Score": Average_reading_score, 
    "Percentage Of Maths Passed": per_maths_summary, 
    "Percentage of Reading passed": per_reading_summary, 
    "Overall Passed": Overall_pass_summary,}])
 
Summary["Total Student"] = Summary["Total Student"].map("{:,}".format)
Summary["Total Budget"] = Summary["Total Budget"].map("${:,.2f}".format)


# Summary = Summary[["Total Schools" , "Total Students", "Total Budget", "Average Maths Score", "Average Reading Score", "Percentage of Maths Passed", "Percentage of Reading Passed", "Overall Passed"]]
Summary

,Total Schools,Total Student,Total Budget,Averare Maths Score,Average Reading Score,Percentage Of Maths Passed,Percentage of Reading passed,Overall Passed
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [33]:
school_data_complete = pd.merge(school_data_df, student_data_df,  how="left", on=["school_name", "school_name"])
school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,year,reading_score,maths_score
0,0,Huang High School,Government,2917,1910635,0,Paul Bradley,M,9,96,94
1,0,Huang High School,Government,2917,1910635,1,Victor Smith,M,12,90,43
2,0,Huang High School,Government,2917,1910635,2,Kevin Rodriguez,M,12,41,76
3,0,Huang High School,Government,2917,1910635,3,Richard Scott,M,12,89,86
4,0,Huang High School,Government,2917,1910635,4,Bonnie Ray,F,9,87,69
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Independent,1635,1043130,39165,Donna Howard,F,12,51,48
39166,14,Thomas High School,Independent,1635,1043130,39166,Dawn Bell,F,10,81,89
39167,14,Thomas High School,Independent,1635,1043130,39167,Rebecca Tanner,F,9,99,99
39168,14,Thomas High School,Independent,1635,1043130,39168,Desiree Kidd,F,10,72,77
39169,14,Thomas High School,Independent,1635,1043130,39169,Carolyn Jackson,F,11,47,62

In [34]:
school_index = school_data_df.set_index('school_name')
school_type = school_data_df.set_index('type')
school_size = school_data_df.set_index('size')
school_budget = school_data_df.set_index('budget')
student_budget = school_budget/school_size
school_budget

         School ID            school_name         type  size
budget
1910635          0      Huang High School   Government  2917
1884411          1   Figueroa High School   Government  2949
1056600          2    Shelton High School  Independent  1761
3022020          3  Hernandez High School   Government  4635
917500           4    Griffin High School  Independent  1468
1319574          5     Wilson High School  Independent  2283
1081356          6    Cabrera High School  Independent  1858
3124928          7     Bailey High School   Government  4976
248087           8     Holden High School  Independent   427
585858           9       Pena High School  Independent   962
1049400         10     Wright High School  Independent  1800
2547363         11  Rodriguez High School   Government  3999
3094650         12    Johnson High School   Government  4761
1763916         13       Ford High School   Government  2739
1043130         14     Thomas High School  Independent  1635

School Summary

In [43]:
school_types = school_data_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [45]:
school_data_complete.groupby(["school_name"])["Student ID"].count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [44]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [46]:
per_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
per_school_capita = per_school_budget / per_school_counts

In [47]:
per_school_maths_ave = school_data_complete.groupby(["school_name"])["maths_score"].mean()
per_school_reading_ave = school_data_complete.groupby(["school_name"])["reading_score"].mean()

In [49]:
per_school_reading= school_data_complete.loc[school_data_complete["reading_score"] >= 50]
per_school_reading_percentage = per_school_reading.groupby(["school_name"])["Student ID"].count() / per_school_counts *100
per_school_reading_percentage

Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [48]:
per_school_maths= school_data_complete.loc[school_data_complete["maths_score"] >= 50]
per_school_maths_percentage = per_school_maths.groupby(["school_name"])["Student ID"].count() / per_school_counts *100
per_school_maths_percentage

Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [50]:
Overall_School_pass = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) &
 (school_data_complete["reading_score"] >= 50)]

per_school_overall_percentage = Overall_School_pass.groupby(["school_name"])["Student ID"].count() / per_school_counts *100
per_school_overall_percentage

Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [ ]:


Grouped_data = school_data_complete.groupby(["school_name", "budget", "size"]).sum()
Grouped_data

,,,School ID,Student ID,year,reading_score,maths_score
school_name,budget,size,,,,,
Bailey High School,3124928,4976,34832,101303896,51609,353340,360028
Cabrera High School,1081356,1858,11148,31477307,19298,132586,133139
Figueroa High School,1884411,2949,2949,12949059,30585,203711,202592
Ford High School,1763916,2739,35607,99055935,28294,190559,189241
Griffin High School,917500,1468,5872,19077394,15216,104588,105385
Hernandez High School,3022020,4635,13905,46090440,47932,320679,319235
Holden High School,248087,427,3416,9846620,4412,30599,30993
Huang High School,1910635,2917,0,4252986,30217,201012,201084
Johnson High School,3094650,4761,57132,154327815,49280,328696,327762
Pena High School,585858,962,8658,22851829,9963,68892,69349
Rodriguez High School,2547363,3999,43989,112111965,41410,283673,288119
Shelton High School,1056600,1761,3522,11879706,18234,123724,126852
Thomas High School,1043130,1635,22890,62705520,16980,114072,113766
Wilson High School,1319574,2283,11415,33950493,23692,157246,157917
Wright High School,1049400,1800,18000,45243900,18663,127745,129685

In [ ]:
#Per Student Budget

In [ ]:
#Average School Reading Score
ave_school_reading = Grouped_data['reading_score'].mean()
ave_school_reading

70.30666666666667

In [ ]:
#Average School Maths Score

In [ ]:
Grouped_data = school_data_complete.groupby(["school_name"]).sum()

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340